<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="directedstudy.georgiacentral">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Login"
            android:label="BookDawg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Registration" />
        <activity android:name=".Activities.ForgotPassword" />
        <activity android:name=".Activities.ChangePassword" />
        <activity android:name=".Activities.PostTextbook" />
        <activity android:name=".Activities.TextbookSearch" />
        <activity android:name=".Activities.TextbookProfile" />
        <activity android:name=".Activities.Homepage" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.EditProfile" />
        <activity android:name=".Activities.UserPostList" />
        <activity android:name=".Activities.Notifications"></activity>

    </application>

</manifest>